[submodule "submodules/superpowers"]
	path = submodules/superpowers
	url = https://github.com/obra/superpowers
[submodule "containers/worker-base/vendor/superpowers"]
	path = containers/worker-base/vendor/superpowers
	url = https://github.com/obra/superpowers
